<div class="container mt-5">
  <div class="row">
    <h1>
      List of contacts
    </h1>
  </div>
  <table class="table caption-top mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Phone number</th>
        <th scope="col">Email</th>
        <th scope="col">Sex</th>
        <th scope="col" style="display: flex; justify-content: center;">...</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts$ | async">
        <th scope="row">{{contact.id}}</th>
        <td>{{contact.name}}</td>
        <td>{{contact.surname}}</td>
        <td>{{contact.phoneNumber}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.sex}}</td>
        <td style="display: flex; justify-content: center;">
          <button type="button" class="btn btn-sm btn-outline-primary" style="margin-right: 0.5rem;"
            (click)="openEditContact(contact)">
            Update
          </button>
          <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteContact()">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>